.remark-code {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #333;
  background: #f8f8f8;
}

.remark-inline-code{
   background: #F5F5F5; /* lighter */
  /*  background: #e7e8e2; /* darker */
    border-radius: 1px;
  padding: 0.01px;
}